<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scube.scubebackend.mapper.CarouselMapper">
    
    <!-- 结果映射 -->
    <resultMap id="BaseResultMap" type="com.scube.scubebackend.model.entity.Carousel">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="summary" property="summary" />
        <result column="image" property="image" />
        <result column="link" property="link" />
        <result column="order" property="order" />
    </resultMap>
    
    <!-- 基础列 -->
    <sql id="Base_Column_List">
        id, title, summary, image, link, `order`
    </sql>
    
</mapper>

