<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scube.scubebackend.mapper.UserMapper">
    
    <!-- 结果映射 -->
    <resultMap id="BaseResultMap" type="com.scube.scubebackend.model.entity.User">
        <id column="id" property="id" />
        <result column="open_id" property="openId" />
        <result column="nickname" property="nickname" />
        <result column="avatar" property="avatar" />
        <result column="user_role" property="userRole" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>
    
    <!-- 基础列 -->
    <sql id="Base_Column_List">
        id, open_id, nickname, avatar, user_role, create_time, update_time, is_delete
    </sql>
    
    <!-- 根据openId查询用户 -->
    <select id="selectByOpenId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM user
        WHERE open_id = #{openId} AND is_delete = 0
    </select>
    
</mapper>

